Game/Assets/Plugins/*

# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Game/Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

*.apk

*.mdb

Game/Assets/Plugins/Library.dll.mdb
